<div class="categories">
  <div class="header">
    <%= link_to new_group_path do %>
      <%= image_tag 'plus.svg' %>
    <% end %>
    <p>Categories</p>
    <%= button_to destroy_user_session_path, method: :delete, class: "btn-logout" do %>
      <%= image_tag 'logout.svg' %>
    <% end %>
  </div>

  <div class="groups">
    <% @groups.each do |group| %>
      <%= link_to group_expenses_path(group) do %>
        <div class="groups-group">
          <div class="groups-group-img">
            <img src="<%= group.icon %>" />
          </div>
          <p><%= group.name %></p>
          <p>₦<%= group.total_amount %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="btn-green">
    <%= link_to 'Add new category', new_group_path, class: 'btn' %>
  </div>
</div>
