<%= form_with(model: @group, local: true) do |f| %>
  <div class="header">
    <%= link_to root_path do %>
      <%= image_tag 'back_arrow.svg' %>
      &nbsp;&nbsp;
    <% end %>
    <p>Add new category</p>
    <div class="actions">
      <%= f.submit "Save", class: "header-btn" %>
    </div>
  </div>

  <div class="form">
    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: 'Category name' %>
    </div>

    <div class="field">
      <%= f.select :icon, options_for_select([
        ['Select an icon', ''],
        ['Rent', 'rent.png'],
        ['Transport', 'vehicles.png'],
        ['Shopping', 'shopping.png'],
        ['Tour', 'travel.png'],
        ['Grocery', 'grocery.png'],
        ['Others', 'other.png'],
      ], selected: @group.icon), {}, class: 'field-select' %>
    </div>
  </div>
<% end %>